.container {
    padding-top: 21px;
    width: 100%;
    margin-top: 0 auto;

    background: #171a21;
    color:  #c5c3c0;
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 1600px) {
        flex-direction: column;
    }
}

.left {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 246px;
    @media only screen and (max-width: 1600px) {
        padding-left: 46px;
    }
    @media only screen and (max-width: 1100px) {
        padding-left: 30px;
    }
    @media only screen and (max-width: 391px){
        padding: 0px;
    }
}

.left h1 {
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */


    color: #FFFFFF;
}

.left img {
    top: 50px;
    cursor: pointer;
    right: 135px;
    position: absolute;
    width: 35px;
    height: 20px;
}

.left input {

    font-size: 20px;
    width: 432px;
    border: none;
    outline: none;
    background-color: #272564;
    color: white;
    border-bottom: 1px solid #EFEFEF;
    transform: rotate(-0.27deg);
    @media only screen and (max-width: 490px) {
        width: 232px;
        
    }
}

.left input::placeholder {
    font-size: 20px;
    color: white;
}

.left span {
    padding-top: 20px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    /* or 188% */


    color: #FFFFFF;

    opacity: 0.7;
    @media only screen and (max-width: 391px){
        font-size: 12px;
    }
}

.left div {
    padding-top: 70px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    /* or 188% */


    color: #FFFFFF;

    opacity: 0.7
}
.right {
    padding-right: 270px;
    @media only screen and (max-width: 1600px) {
        padding-right: 76px;
    }
    @media only screen and (max-width: 1100px) {
        padding-left: 30;
        
    }
}
.policy {
    display: flex;
    gap: 43px;
    @media only screen and (max-width: 391px){
        gap: 5px;
    }
}
.policy span {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    
    text-transform: uppercase;
    
    color: #FFFFFF;
    padding-bottom: 70px;
    cursor: pointer;
    @media only screen and (max-width: 1100px) {
        padding-left: 30px;
        
    }
}
.icons {
    display: flex;
    padding-left: 210px;
    gap: 43px;
    cursor: pointer;
    @media only screen and (max-width: 1600px) {
        padding-left: 46px;
    }
    @media only screen and (max-width: 1100px) {
        padding-left: 30px;
    }
    
}
