.container {
    padding: 20px 400px 20px 400px;
    background: #171a21;
    color:  #c5c3c0;
    display: flex;
    
    justify-content: space-between;
}
.leftBar {
    display: flex;
    align-items: center;
    gap: 17px;
    div {
        cursor: pointer;

    }

    img {
        cursor: pointer;

        width: 3rem;
        height: 3rem;
    }
    
}

.categories {
    ul {
        display: flex;
        align-items: center;
        gap: 12px;
        cursor: pointer;
    }

}
.rightBar {
    display: flex;
    gap: 10px;
}
.download {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 5px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: rgb(44, 207, 44);
    height: 26px;
    border-radius: 10px;
    text-align: center;
    color: white;
} 
.login {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 5px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: rgb(202, 202, 202);
    height: 26px;
    border-radius: 10px;
    text-align: center;
    color: rgb(178, 253, 144);
}  
.language {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    cursor: pointer;
}
.darl {
    cursor: pointer;
}