.carousel__inner-slide {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    left: 10px;
    top: 10px;

    img {
        width: calc(100% - 20px);
    height: calc(100% - 20px);
    cursor: pointer;
    }
    @media only screen and (max-width: 1310px) {
      width: calc(100% - 70px);
      height: calc(100% - 70px);
    }
    @media only screen and (max-width: 1010px) {
      width: calc(100% - 70px);
      height: calc(100% - 70px);
    }
  }
  .slider {
    width: 1300px;
    height: 340px;
    @media only screen and (max-width: 1310px) {
      width: 700px;
      height: 340px;
    }
    @media only screen and (max-width: 1010px) {
      width: 500px;
      height: 340px;
    }
  }
.none {
    display: none;
}