.carousel__inner-slide {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    left: 10px;
    top: 10px;

    img {
        width: calc(100% - 20px);
    height: calc(100% - 20px);
    cursor: pointer;
    }
  }
  .slider {
    width: 1300px;
    height: 340px;
  }
.none {
    display: none;
}