.AppGames {
    background: rgb(58, 99, 144);
    background: linear-gradient(
      90deg,
      rgba(58, 99, 144, 1) 8%,
      rgb(102, 151, 190) 31%,
      rgb(53, 87, 150) 52%,
      rgb(46, 81, 168) 58%
    );
    height: 100%;
}